@import "../../variable.css";

.button{
    background-color: var(--spot-color);
    color: #000;
    display: inline-block;
    cursor: pointer;
    height: 35px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;

}
.button:hover{
    background: var(--spot-hover);
}
@media only screen and (width < 580px) {
    .button{
        height: fit-content;
        font-size: 12px;
        font-weight: 600;
        padding: 8px 16px;
    }
}