.button{
    background-color: #f9b52e;
    color: #000;
    display: block;
    cursor: pointer;
    height: 35px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;

}
.button:hover{
    background: #ffd47e;
}
@media only screen and (width < 580px) {
    .button{
        height: 28px;
        font-size: 11px;
        font-weight: bold;
        padding: 0 16px;
    }
}