.bell{
    width: 35px;
    height: 35px;
    background-color: #f9b52e2d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    cursor: pointer;
    transition: 0s;
    position: relative;
    border: 1px solid transparent;
}

.bell:hover i{
    animation: ring .5s ease-in-out alternate infinite;
}
.bell:hover{
    border: 1px solid #fffffe6b;
}
.bell i{
    position: relative;
    font-size: 18px;
}

.beller{
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: yellow;
    border: 1px solid #413525;
    position: absolute;
    top: 3px;
    right: 1px;
}

.notifications{
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #fff;
    color: black;
    min-width: 450px;
    min-height: 500px;
    padding: 20px;
}
.noti{
    border-radius: 5px;
    color: black;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}
hr{
    border: none;
    outline: none;
    height: 1px;
    background-color: #f9b52e6c;
    text-align: center;
}
.notiType{
    text-transform: uppercase;
    color: #f9b52e;
    font-weight: bold;
    width: 100%;
    font-size: 12px;
    letter-spacing: .8px;
}
.noti:hover{
    background-color: #f9b52e3b;
}
.hidden{
    display: none;
}
.notificationDetails{
    display: flex;
    padding: 10px 0;
}
.notificationLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
}
.notificationLogo img{
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.notificationPargraph{
    padding: 0 10px;
}
.notificationTitle{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .5px;
}
.notificationInfo{
    color: rgba(0, 0, 0, 0.466);
    font-size: 15px;
}
.notificationGo{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    /* color: blue; */
}
.notificationGo span{
    color: #393966;
}
@keyframes ring {
    0%{
        transform: rotate(15deg);
    }
    /* 50%{
        transform: rotate(0deg);
    } */
    100%{
        transform: rotate(-15deg);
    }
}
@media only screen and (width < 1000px){
    .bell{
        display: none;
    }
}