.bell{
    width: 35px;
    height: 35px;
    background-color: #f9b52e2d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    cursor: pointer;
    transition: 0s;
}

.bell:hover i{
    animation: ring .5s ease-in-out alternate infinite;
}
.bell:hover{
    border: 1px solid #fffffe6b;
}
.bell i{
    position: relative;
    font-size: 18px;
}

.beller{
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: yellow;
    border: 1px solid #413525;
    position: absolute;
    top: 3px;
    right: 1px;
}

@keyframes ring {
    0%{
        transform: rotate(15deg);
    }
    /* 50%{
        transform: rotate(0deg);
    } */
    100%{
        transform: rotate(-15deg);
    }
}
@media only screen and (width < 1000px){
    .bell{
        display: none;
    }
}