@import "../../variable.css";

.button {
    background-color: transparent;
    border: 1px solid #ffffff52;
    cursor: pointer;
    height: 35px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    color: #fff;
    position: relative;
    z-index: 100;
    overflow: hidden;
    transition: 0.3s;
}

.button::after {
    content: '';
    display: block;
    z-index: 0;
    width: 130%;
    height: 300px;
    background-color: var(--spot-color);
    position: absolute;
    bottom: -301px;
    border-radius: 50%;
    transition: .3s ease-in-out;
}

.button:hover {
    border: 1px solid var(--spot-color);
    z-index: 101; 
    color: #000;
}

.button:hover::after {
    bottom: -280%;
    z-index: -1; 
}