@import "../../variable.css";


header {
	height: 80px;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: fixed;
	top: 0;
	right: 0;
	background: var(--primary-blue);
	color: #fff;
	z-index: 9999;
}

a {
	cursor: none !important;
}

.logo {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 600;
	display: flex;
	align-items: center;
}

.logoimg {
	width: 40px;
	height: 40px;
	display: block;
	background: var(--black-img);
	background-size: 90%;
	background-repeat: no-repeat;
}

.logobackground {
	background-color: var(--spot-color);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	border-radius: 2px;
	padding: 3px;
}

header ul {
	display: flex;
}

header ul li {
	margin-right: 30px;
	cursor: pointer;
	padding: 3px 10px;
}

header ul li:hover {
	color: var(--spot-color);
}

header ul li:last-child {
	margin-right: 0;
}

.headerContact {
	display: flex;
	align-items: center;
}

.menu {
	display: none;
}

@media only screen and (width < 1000px) {
	header {
		justify-content: space-between;
		padding: 0 40px;
	}

	header ul {
		padding-top: 30px;
		position: fixed;
		flex-direction: column;
		top: 80px;
		right: -100%;
		width: 100%;
		background-color: var(--primary-blue);
		height: 100vh;
	}

	header ul li {
		padding: 16px 0 16px 20px;
		font-size: 18px;
		border-bottom: 1px solid #ffffff2d;
		width: 100%;
	}

	header ul li:hover {
		background-color: rgba(255, 255, 255, 0.116);
	}

	.menuIcon {
		display: block;
		width: 25px;
		height: 2px;
		background-color: #fff;
		position: relative;
		cursor: pointer;
	}

	.menu {
		cursor: pointer;
		height: 20px;
		width: 25px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
		margin-left: 30px;
	}
}

@media only screen and (width < 580px) {
	header {
		height: 60px;
		justify-content: space-between;

	}

	header ul {
		top: 50px;
	}

	.logo {
		font-size: 18px;
	}

	.logoimg {
		width: 20px;
		height: 20px;
		margin-left: -20px;
	}

	.menu {
		margin-left: 18px;
		margin-right: -15px;
	}
}