.testimonial{
    width: 250px;
    /* background-color: grey; */
    padding: 10px;
    overflow: hidden;
}
.testimonial p{
    margin-bottom: 15px;
    font-size: 15px;
    text-align: justify;
    display: block;
    width: 250px;
}
.testimonialPerson{
    display: flex;
    align-items: center;
}
.testimonialPersonImage{
    width: 55px;
    height: 55px;
    object-fit: contain;
    border-radius: 50%;
    background-color: var(--spot-color);
    margin-right: 20px;
    border: 2px solid var(--spot-color);
}
.testimonialPersonName{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .8px;
}
.testimonialPersonTitle{
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: .8px;

}