@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #ffffff;
  /* width: 100vw; */
  font-family: 'Ubuntu', sans-serif;
}
.container{
  background-color: #1a1b22;
  min-height: 200vh;
  color: #fff;
  transition: 0.3s ease-in-out;
  /* width: 100vw; */
}
.scrolled{
  margin: 0px 40px;
}