* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins;
	transition: 0.2s ease-in-out;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #f9b52e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
a {
	text-decoration: none;
	color: inherit;
}
li {
	list-style: none;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

body {
	background-color: #191923;
	overflow-x: hidden;
	width: 100vw;
}
main {
	color: #fff;
	background-color: #252532;
	padding: 20px 60px;
	min-height: calc(100vh - 115px);
	overflow-x: hidden;
  border-radius: 20px;
  margin: 10px 30px;
  margin-top: 80px;
}

