/* cursor.module.css */

* {
    cursor: none; 
}

.cursor_f {
    position: fixed;
    width: 36px;
    height: 36px;
    border: 2px solid #ffffff54;
    background-color: transparent;
    border-radius: 25%; 
    z-index: 9998; 
    pointer-events: none;
    transition: none; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f9b52e;
    border-radius: 50%;
    pointer-events: none;
    transition: none; 
    z-index: 9999; 
    margin-top: 13px;
    margin-left: 13px;
    animation: glow .6 alternate infinite;
    box-shadow: 0 0 10px #f9b52e, 0 0 10px #f9b52e, 0 0 10px #f9b52e;

}

@keyframes glow {
    from {
        box-shadow: 0 0 0 #f9b52e;
    }
    to {
        box-shadow: 0 0 20px #f9b52e, 0 0 20px #f9b52e, 0 0 20px #f9b52e;
    }
}

.cursor.linkHover{
    background-color: red;
}

.cursor_f.linkHover{
    border-color: black;
}